@{
    ViewData["Titile"] = "Edit page";
}

@model AutoSale.Models.Cars
<h2>Редактирование пользователя</h2>
<form asp-action="Edit" asp-controller="home" asp-route-id="@Model.id">
    <p>
        <label asp-for="CarBrand">Марка</label><br />
        <input type="text" asp-for="CarBrand" />
    </p>
    <p>
        <label asp-for="CarModel">Модель</label><br />
        <input type="text" asp-for="CarModel" />
    </p>
    <p>
        <label asp-for="Year">Год</label><br />
        <input type="text" asp-for="Year" />
    </p>
    <p>
        <label asp-for="Price">Цена</label><br />
        <input type="text" asp-for="Price" />
    </p>
    <p>
        <label asp-for="Description">Описание</label><br />
        <input type="text" asp-for="Description" />
    </p>
        <label asp-for="Img">Картинка</label><br />
        <input type="text" asp-for="Img" />
    <p>
    <p>
        <input type="submit" value="Сохранить" />
    </p>
</form>
